* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.container {
    height: 100vh;
    width: 100%;
    background-color: #1E2D3B;
}

.header {
    padding: 10px;
    background-color: #2E3A46;
}

.container-album {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;

}

.card-album {
    flex-basis: calc(100% / 5 - 20px);
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 0.5em;

}

.img-album {
    width: 200px;
    height: 200px;
}

.img-album>img {
    width: 80%;
   
}

.info {
    display: flex;
    flex-direction: column;
}