* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.container{
    height: 100vh;
    width: 100%;
    background-color: #2E3A46;
}



.container-album {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-wrap:wrap;

}

.card-album{
    flex-basis: calc(100% / 5 - 20px);
    margin-top: 5em;
    margin-left: 1em;
    display:flex;
    flex-direction: column;
    
}

.img-album{
    width: 200px;
    height: 150px;
}

.img-album > img {
    width: 100%;
    height: 100%;
}

.info{
    display:flex;
    flex-direction: column;
}

    
    