* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.container {
    height: 100vh;
    width: 100%;
    background-color: #1E2D3B;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #2E3A46;
}

.container-album {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card-album {
    flex-basis: calc(100% / 5 - 40px);
    margin-left: 1em;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2E3A46;
    padding: 0.5em;

}

.img-album {
    width: 200px;
    height: 200px;
}

.img-album>img {
    width: 80%;
   
}

.info {
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: bolder;
}